<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" id="cordova-plugin-bluetoothle" version="6.7.0">
  <engines>
    <engine name="cordova-plugman" version=">=5.0.0" />
    <engine name="cordova-android" version=">=5.0.0" />
  </engines>
  <name>Bluetooth LE</name>
  <description>Use the Bluetooth Low Energy plugin to connect your Cordova app to new Bluetooth devices like heart rate monitors, thermometers, etc...</description>
  <author>Rand Dusing</author>
  <keywords>bluetooth,bluetoothle,bluetooth le,cordova</keywords>
  <license>MIT</license>
  <js-module src="www/bluetoothle.js" name="BluetoothLe">
    <clobbers target="window.bluetoothle" />
  </js-module>
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="BluetoothLePlugin">
        <param name="android-package" value="com.randdusing.bluetoothle.BluetoothLePlugin" />
      </feature>
    </config-file>
    <source-file src="src/android/BluetoothLePlugin.java" target-dir="src/com/randdusing/bluetoothle" />
    <source-file src="src/android/Operation.java" target-dir="src/com/randdusing/bluetoothle" />
    <source-file src="src/android/SequentialCallbackContext.java" target-dir="src/com/randdusing/bluetoothle" />
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.BLUETOOTH"/>
      <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
      <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
      <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
      <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
      <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    </config-file>
  </platform>
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="BluetoothLePlugin">
        <param name="ios-package" value="BluetoothLePlugin" />
      </feature>
    </config-file>
    <header-file src="src/ios/BluetoothLePlugin.h" />
    <source-file src="src/ios/BluetoothLePlugin.m" />
    <framework src="CoreBluetooth.framework" />
  </platform>
  <platform name="osx">
    <config-file target="config.xml" parent="/*">
      <feature name="BluetoothLePlugin">
        <param name="ios-package" value="BluetoothLePlugin" />
      </feature>
    </config-file>
    <header-file src="src/osx/BluetoothLePlugin.h" />
    <source-file src="src/osx/BluetoothLePlugin.m" />
    <framework src="CoreBluetooth.framework" />
  </platform>
  <!--<platform name="wp8">
    <config-file target="config.xml" parent="/*">
      <feature name="BluetoothLePlugin">
        <param name="wp-package" value="BluetoothLePlugin" />
      </feature>
    </config-file>
    <config-file target="Properties/WMAppManifest.xml" parent="/Deployment/App/Capabilities">
      <Capability Name="ID_CAP_NETWORKING" />
      <Capability Name="ID_CAP_IDENTITY_DEVICE" />
      <m2:DeviceCapability Name="bluetooth.genericAttributeProfile">
        <m2:Device Id="any">
          <m2:Function Type="serviceId:1803"/>
        </m2:Device>
      </m2:DeviceCapability>
    </config-file>
    <source-file src="src/wp/BluetoothLePlugin.cs" />
  </platform>-->
  <platform name="windows">
    <config-file target="config.xml" parent="/*">
      <feature name="BluetoothLePlugin">
        <param name="windows-package" value="BluetoothLePlugin" />
      </feature>
    </config-file>
    <config-file target="package.appxmanifest" parent="/Package/Capabilities" versions="<10.0.0">
      <m2:DeviceCapability Name="bluetooth.genericAttributeProfile">
        <m2:Device Id="any">
          <m2:Function Type="serviceId:1800"/> <!-- Generic Access -->
          <m2:Function Type="serviceId:1801"/> <!-- Generic Attribute -->
          <m2:Function Type="serviceId:1802"/> <!-- Immediate Alert -->
          <m2:Function Type="serviceId:1803"/> <!-- Link Loss -->
          <m2:Function Type="serviceId:1804"/> <!-- Tx Power -->
          <m2:Function Type="serviceId:1806"/> <!-- Reference Time Update Service -->
          <m2:Function Type="serviceId:1807"/> <!-- Next DST Change Service -->
          <m2:Function Type="serviceId:1808"/> <!-- Glucose -->
          <m2:Function Type="serviceId:1809"/> <!-- Health Thermometer-->
          <m2:Function Type="serviceId:180A"/> <!-- Device Information -->
          <m2:Function Type="serviceId:180D"/> <!-- Heart Rate -->
          <m2:Function Type="serviceId:180E"/> <!-- Phone Alert Status Service -->
          <m2:Function Type="serviceId:180F"/> <!-- Battery Service -->
          <m2:Function Type="serviceId:1810"/> <!-- Blood Pressure -->
          <m2:Function Type="serviceId:1811"/> <!-- Alert Notification Service -->
          <m2:Function Type="serviceId:1812"/> <!-- Human Interface Device -->
          <m2:Function Type="serviceId:1813"/> <!-- Scan Parameters -->
          <m2:Function Type="serviceId:1814"/> <!-- Running Speed and Cadence -->
          <m2:Function Type="serviceId:1816"/> <!-- Cycling Speed and Cadence -->
          <m2:Function Type="serviceId:1818"/> <!-- Cycling Power -->
          <m2:Function Type="serviceId:1819"/> <!-- Location and Navigation -->
          <m2:Function Type="serviceId:181A"/> <!-- Environmental Sensing -->
          <m2:Function Type="serviceId:181B"/> <!-- Body Composition -->
          <m2:Function Type="serviceId:181C"/> <!-- User Data -->
          <m2:Function Type="serviceId:181D"/> <!-- Weight Scale -->
          <m2:Function Type="serviceId:181E"/> <!-- Bond Management-->
          <m2:Function Type="serviceId:181F"/> <!-- Continuous Glucose Monitoring -->
          <m2:Function Type="serviceId:1820"/> <!-- Internet Protocol Support-->
          <m2:Function Type="serviceId:78b2"/> <!-- Medisana BS 430 Connect (Body Analysis Scale) -->
        </m2:Device>
      </m2:DeviceCapability>
    </config-file>
    <config-file target="package.appxmanifest" parent="/Package/Capabilities" versions=">=10.0.0">
      <DeviceCapability Name="bluetooth.genericAttributeProfile">
        <Device Id="any">
          <Function Type="serviceId:1800"/> <!-- Generic Access -->
          <Function Type="serviceId:1801"/> <!-- Generic Attribute -->
          <Function Type="serviceId:1802"/> <!-- Immediate Alert -->
          <Function Type="serviceId:1803"/> <!-- Link Loss -->
          <Function Type="serviceId:1804"/> <!-- Tx Power -->
          <Function Type="serviceId:1806"/> <!-- Reference Time Update Service -->
          <Function Type="serviceId:1807"/> <!-- Next DST Change Service -->
          <Function Type="serviceId:1808"/> <!-- Glucose -->
          <Function Type="serviceId:1809"/> <!-- Health Thermometer-->
          <Function Type="serviceId:180A"/> <!-- Device Information -->
          <Function Type="serviceId:180D"/> <!-- Heart Rate -->
          <Function Type="serviceId:180E"/> <!-- Phone Alert Status Service -->
          <Function Type="serviceId:180F"/> <!-- Battery Service -->
          <Function Type="serviceId:1810"/> <!-- Blood Pressure -->
          <Function Type="serviceId:1811"/> <!-- Alert Notification Service -->
          <Function Type="serviceId:1812"/> <!-- Human Interface Device -->
          <Function Type="serviceId:1813"/> <!-- Scan Parameters -->
          <Function Type="serviceId:1814"/> <!-- Running Speed and Cadence -->
          <Function Type="serviceId:1816"/> <!-- Cycling Speed and Cadence -->
          <Function Type="serviceId:1818"/> <!-- Cycling Power -->
          <Function Type="serviceId:1819"/> <!-- Location and Navigation -->
          <Function Type="serviceId:181A"/> <!-- Environmental Sensing -->
          <Function Type="serviceId:181B"/> <!-- Body Composition -->
          <Function Type="serviceId:181C"/> <!-- User Data -->
          <Function Type="serviceId:181D"/> <!-- Weight Scale -->
          <Function Type="serviceId:181E"/> <!-- Bond Management-->
          <Function Type="serviceId:181F"/> <!-- Continuous Glucose Monitoring -->
          <Function Type="serviceId:1820"/> <!-- Internet Protocol Support-->
          <Function Type="serviceId:78b2"/> <!-- Medisana BS 430 Connect (Body Analysis Scale) -->
        </Device>
      </DeviceCapability>
    </config-file>
    <js-module src="src/windows/BluetoothLEPlugin.js" name="BluetoothLEPlugin">
      <runs />
    </js-module>
  </platform>
</plugin>
