<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" id="com.randdusing.bluetoothle" version="2.1.0">
  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>
  <name>Bluetooth LE</name>
  <description>Use the Bluetooth Low Energy plugin to connect your Cordova app to new Bluetooth devices like heart rate monitors, thermometers, etc...</description>
  <author>Rand Dusing</author>
  <keywords>bluetooth,low energy,smart</keywords>
  <license>Apache 2.0</license>
  <js-module src="www/bluetoothle.js" name="BluetoothLe">
    <clobbers target="window.bluetoothle" />
  </js-module>
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="BluetoothLePlugin">
        <param name="android-package" value="com.randdusing.bluetoothle.BluetoothLePlugin" />
      </feature>
    </config-file>
    <source-file src="src/android/BluetoothLePlugin.java" target-dir="src/com/randdusing/bluetoothle" />
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.BLUETOOTH"/>
      <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    </config-file>
  </platform>
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="BluetoothLePlugin">
        <param name="ios-package" value="BluetoothLePlugin" />
      </feature>
    </config-file>
    <config-file target="*-Info.plist" parent="UIBackgroundModes">
      <array>
        <string>bluetooth-central</string>
      </array>
    </config-file>
    <header-file src="src/ios/BluetoothLePlugin.h" />
    <source-file src="src/ios/BluetoothLePlugin.m" />
    <framework src="CoreBluetooth.framework" />
  </platform>
  <!--<platform name="wp8">
    <config-file target="config.xml" parent="/*">
      <feature name="BluetoothLePlugin">
        <param name="wp-package" value="BluetoothLePlugin" />
      </feature>
    </config-file>
    <config-file target="Properties/WMAppManifest.xml" parent="/Deployment/App/Capabilities">
      <Capability Name="ID_CAP_NETWORKING" />
      <Capability Name="ID_CAP_IDENTITY_DEVICE" />
      <m2:DeviceCapability Name="bluetooth.genericAttributeProfile">
        <m2:Device Id="any">
          <m2:Function Type="serviceId:1803"/>
        </m2:Device>
      </m2:DeviceCapability>
    </config-file>
    <source-file src="src/wp/BluetoothLePlugin.cs" />
  </platform>-->
  <platform name="windows">
    <config-file target="config.xml" parent="/*">
      <feature name="BluetoothLePlugin">
        <param name="windows-package" value="BluetoothLePlugin" />
      </feature>
    </config-file>
    <config-file target="package.appxmanifest" parent="/Package/Capabilities">
      <m2:DeviceCapability Name="bluetooth.genericAttributeProfile">
        <m2:Device Id="any">
          <!-- Generic Access -->
          <m2:Function Type="serviceId:1800"/>
          <!-- Generic Attribute -->
          <m2:Function Type="serviceId:1801"/>
          <!-- Immediate Alert -->
          <m2:Function Type="serviceId:1802"/>
          <!-- Link Loss -->
          <m2:Function Type="serviceId:1803"/>
          <!-- Tx Power -->
          <m2:Function Type="serviceId:1804"/>
          <!-- Reference Time Update Service -->
          <m2:Function Type="serviceId:1806"/>
          <!-- Next DST Change Service -->
          <m2:Function Type="serviceId:1807"/>
          <!-- Glucose -->
          <m2:Function Type="serviceId:1808"/>
          <!-- Health Thermometer-->
          <m2:Function Type="serviceId:1809"/>
          <!-- Device Information -->
          <m2:Function Type="serviceId:180A"/>
          <!-- Heart Rate -->
          <m2:Function Type="serviceId:180D"/>
          <!-- Phone Alert Status Service -->
          <m2:Function Type="serviceId:180E"/>
          <!-- Battery Service -->
          <m2:Function Type="serviceId:180F"/>
          <!-- Blood Pressure -->
          <m2:Function Type="serviceId:1810"/>
          <!-- Alert Notification Service -->
          <m2:Function Type="serviceId:1811"/>
          <!-- Human Interface Device -->
          <m2:Function Type="serviceId:1812"/>
          <!-- Scan Parameters -->
          <m2:Function Type="serviceId:1813"/>
          <!-- Running Speed and Cadence -->
          <m2:Function Type="serviceId:1814"/>
          <!-- Cycling Speed and Cadence -->
          <m2:Function Type="serviceId:1816"/>
          <!-- Cycling Power -->
          <m2:Function Type="serviceId:1818"/>
          <!-- Location and Navigation -->
          <m2:Function Type="serviceId:1819"/>
          <!-- Environmental Sensing -->
          <m2:Function Type="serviceId:181A"/>
          <!-- Body Composition -->
          <m2:Function Type="serviceId:181B"/>
          <!-- User Data -->
          <m2:Function Type="serviceId:181C"/>
          <!-- Weight Scale -->
          <m2:Function Type="serviceId:181D"/>
          <!-- Bond Management-->
          <m2:Function Type="serviceId:181E"/>
          <!-- Continuous Glucose Monitoring -->
          <m2:Function Type="serviceId:181F"/>
          <!-- Internet Protocol Support-->
          <m2:Function Type="serviceId:1820"/>
          <!-- Medisana BS 430 Connect (Body Analysis Scale) -->
          <m2:Function Type="serviceId:78b2"/>
        </m2:Device>
      </m2:DeviceCapability>
    </config-file>
    <js-module src="src/windows/BluetoothLEPlugin.js" name="BluetoothLEPlugin">
      <merges target="" />
    </js-module>
  </platform>
  <info>For more info: http://randdusing.com/</info>
</plugin>
