<?xml version='1.0' encoding='utf-8'?>
<widget id="com.randdusing.bluetoothleexample" version="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BluetoothLeExample</name>
    <description>
        A sample application to demonstrate the Bluetooth LE plugin
    </description>
    <author email="{firstNamelastName}@gmail.com" href="http://www.randdusing.com">
        Rand Dusing
    </author>
    
    <!-- Hide status bar or not -->
    <preference name="fullscreen" value="true" />
    <!-- Keep running on exit -->
    <preference name="KeepRunning" value="true"/>
    <!-- Scrolling bounce -->
    <preference name="webviewbounce" value="false" />
		<preference name="DisallowOverscroll" value="true" />
    
    <content src="index.html" />
    <access origin="*" />
</widget>
